<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<http pattern="/css/**" security="none" />
	<http pattern="/logout*" security="none" />	
	<http pattern="/loginfailed*" security="none" />
	<http pattern="/user/accessDenied*" security="none" />
	<http pattern="/admin/accessDenied*" security="none" />
	<http pattern="/" security="none" />

	
	
	<http auto-config="true">
		
		<intercept-url pattern="/user/**" access="ROLE_USER, ROLE_ADMIN" />	
		<intercept-url pattern="/admin/**" access="ROLE_ADMIN" />
		
		<form-login login-page="/login" default-target-url="/user/login"
			authentication-failure-url="/loginfailed" />
		<logout logout-success-url="/logout" delete-cookies="true"/>
		
		<access-denied-handler ref="accessDeniedHandler" />
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="mkyong" password="123456" authorities="ROLE_USER" />
				<user name="ritch" password="chan" authorities="ROLE_ADMIN" />
				<user name="eric" password="eric" authorities="ROLE_TELLER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

</beans:beans>