@CHARSET "ISO-8859-1";

table.todo  {
  border: 3px solid #888888;
  }
  
table.todo th {
  background: #EFEFEF none repeat scroll 0 0;
  border-top: 2px solid #8888FF;
  font-size: small;
  padding-left: 5px;
  padding-right: 4px;
  padding-top: 4px;
  vertical-align: top;
}

table td:first-child {
  font-weight: normal;
  
  }

table .first {
  width: 200px;
  }
  

table .last {
  width: 200px;
  }
/*  
table .third {
  width: 300px;
  }  
  
table .fourth {
  width: 200px;
  }  
  */
  
table.todo {
  
  border-top: 2px solid #CCCCCC;
  font-size: small;
  padding-left: 5px;
  padding-right: 4px;
  padding-top: 4px;
  vertical-align: top;
} 
